@use '../../utils/' as *;

.history {

    &-container {
        grid-area: history;
        display: grid;
        grid-template-areas: 
            "title"
            "list";
        grid-template-rows: 1fr 3fr;
    }

    &-title {
        grid-area: title;
    }

    &-list-container {
        grid-area: list;
        overflow: auto;
    }

    &-list {
        display: flex;
        flex-direction: column-reverse;
    }

    &-list-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2fr;


        &-in {
            
            i {
                color: $good;
                text-align: center;
            }
        }

        &-out {

            i {
                color: $danger;
                text-align: center;
            }
        }
    }
}

