@use '../../utils/variables.scss' as *;

.main {
    margin: 0 auto;
    height: 90%;
    width: 900px;
    display: grid;
    grid-template-areas: 
        "fridge-status fridge-status shopping-list news"
        "fridge-status fridge-status service service"
        "fridge-status fridge-status service service"
        "history history recipe app-store"
        "history history recipe app-store";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

    &-frame {
        --dist: 1.5rem;
        border: solid 1px $light;
        margin: 0 var(--dist) var(--dist) 0;
        padding: var(--dist);
    }    
}