@use '../../utils/' as *;

.service {

    &-container {
        grid-area: service;
        display: grid;
    }

    &-status-list {

        &-item {
            display: flex;
            justify-content: space-between;
            margin: 0.25rem 0;

            span {
                font-weight: bold;
            }
        }
    }

    &-components-list {

        &-item {
            display: grid;
            grid-template-columns: 30% 70%;
            margin: 0.5rem 0;

            .component-bar {

                position: relative;
                
                div {
                    height: 100%;
                    border-radius: 1rem;
                    transition: width ease-in-out 0.3s;
                }

                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: bold;
                }

                .filter {
                    width: 25%;
                    background-color: $good;
                }

                .kompressor {
                    width: 75%;
                    background-color: $danger;
                }

                .drossel {
                    width: 50%;
                    background-color: $warning;
                }                
            }
        }
    }
}
