.shopping {

    &-container {
        grid-area: shopping-list;
        display: grid;
        grid-template-areas: 
            "title"
            "list";
        grid-template-rows: 1fr 3fr;
    }

    &-list-title {
        grid-area: title;
    }

    &-list {
        grid-area: list;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

