@use '../utils/variables.scss' as *;

.side-menu {
    --menu-width: 300px;
    --container-margin: 1rem 0.5rem 0 0.5rem;
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--menu-width);
    height: 100%;
    background-color: $dark;
    transition: 0.3s ease-in-out;


    &-open {
        transform: translateX(var(--menu-width));
        background-color: $medium;
    }    

    &-open-close-tab {
        position: absolute;
        left: 100%;
        top: 2rem;
        padding: 0.5rem 0.25rem;
        background-color: $medium;
        cursor: pointer;
        transition: font-weight ease-in-out 0.1s;

        &:hover {
            font-weight: bold;
        }
    }
    
    .item {
        &-management-container {
            margin: var(--container-margin);
        }

        &-in-out-container {
            display: grid;
            grid-template-areas: 
                "item-input"
                "item-add";
        }

        &-input {
            grid-area: item-input;
            background-color: $dark;
            color: $light;
            font-weight: bold;
            text-align: center;
            border-radius: 0.25rem;
            padding: 0.5rem;
            margin-top: 1rem;
        }

        &-add {
            grid-area: item-add;
            background-color: $dark;
            border-radius: 0.25rem;
            color: $good;
            font-weight: bold;
            padding: 0.5rem;
            margin: 1rem 0;
            border: solid 1px $good;
            transition: ease-in-out 0.1s;


            &:hover {
                border-color: $dark;
                background-color: $good;
                color: $dark;

            }
        }

        &-list {
            width: 100%;
        }

        &-list-item {
            width: 100%;
            display: grid;
            grid-template-areas: 
            "div add-btn remove-btn";
            grid-template-columns: 60% 20% 20%;

            div {
                grid-area: div;
            }

            .add-button {
                grid-area: add-btn;
                margin: 0.1rem;
                background-color: $dark;
                color: $good;
                font-weight: bold;
                border: solid 1px $good;
                transition: ease-in-out 0.1s;
    

                &:hover {
                    border-color: $dark;
                    background-color: $good;
                    color: $dark;    
                }
            }

            .remove-button {
                grid-area: remove-btn;
                margin: 0.1rem;
                background-color: $dark;
                color: $danger;
                font-weight: bold;
                border: solid 1px $danger;
                transition: ease-in-out 0.1s;

                &:hover {
                    border-color: $dark;
                    background-color: $danger;
                    color: $dark;    
                }
            }
        }
    }

    .service-management-container {
        margin: var(--container-margin);

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .connection-container {
        margin: var(--container-margin);
        margin-top: 1rem;

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0;

            div {
                --size: 2rem;
                height: var(--size);
                width: var(--size);
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                background-color: #1b1b1b;
                border-radius: 50%;
                box-shadow: 0 3px 4px rgba(0,0,0,1),
                    inset 0 -2px 5px rgba(0,0,0,1),
                    inset 0 2px 2px rgba(255, 255, 255, 0.5),
                    0 0 0 2px #000,
                    0 0 0 5px #0c0c0c,
                    0 0 0 5.5px #080808;
    
                input {
                    appearance: none;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    cursor: pointer;
    
                    &:checked ~ i {
                        --green-glow: #4ce238;
                        color: $good;
                        text-shadow: 0 0 15px var(--green-glow);
                        color: var(--green-glow);
                    }
                }
    
                i {
                    font-size: 1.5rem;
                    color: #0c0c0c;
                }
            }
        }
    }
}