@use '../utils/variables.scss' as *;

.side-menu {
    --menu-width: 300px;
    position: absolute;
    top: 0;
    right: 100%;
    width: var(--menu-width);
    height: 100%;
    background-color: $dark;
    transition: 0.3s ease-in-out;


    &-open {
        transform: translateX(var(--menu-width));
        background-color: red;
    }    

    &-open-close-tab {
        position: absolute;
        left: 100%;
        top: 2rem;
        padding: 0.5rem 0.25rem;
        background-color: red;
        cursor: pointer;
    }    
}
