@use '../utils/' as *;

.start {

    &-screen {
        --size: 8rem;
        --animate: opacity ease-in-out 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: $dark;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--animate);
    }

    &-title-container {
        position: absolute;
        text-align: center;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        span {
            font-size: 6rem;
            padding: 0 1rem;
            opacity: 0;
            transition: var(--animate);
        }

        .show {
            opacity: 1;;
        }
    }

    &-button {
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        border: solid 0.25rem $good;
        background-color: $medium;
        color: $good;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        transition: var(--animate);
        transition: text-shadow ease-in-out 0.3s;

        &:hover {
            text-shadow: 0 0 0.5rem $good;
        }
    }

    &-drop {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        z-index: -1;
        box-shadow: 0 0 2rem 3rem $good;
        transition: var(--animate);
        animation: grow 2.5s infinite ease-out;
    }

    &-vanish {
        opacity: 0;
    }

    &-none {
        display: none;
    }

}

@keyframes grow {
    from {
        width: var(--size);
        height: var(--size);
    }

    to {
        width: calc(var(--size) * 3);
        height: calc(var(--size) * 3);
        opacity: 0;
    }
}